<html>
  <head>
  <script src="./form.js"></script>
  </head>
  <body>
    <form>
      <label for="userName">Name:</label>
      <input type="text" name="userName" id="user-name"/>
      <label for="Email">Email:</label>
      <input type="text" name="Email" id="user-email"/>
      <label for="userPassword">Password:</label>
      <input type="text" name="userPassword" id="user-password"/>
      <label for="conformPassword">ConformPassword:</label>
      <input type="text" name="conformPassword" id="conform-password"/>
      <label for="phoneNumber">phoneNumber:</label>
      <input type="text" name="phoneNumber" id="user-phonenumber"/>
      <button type="button">Login</button>
      <button type="button" id="sign-in">Sign-In</button>
      <button type="button" id="sign-up">Sign-Up</button>
    </form>
  </body>
</html>