<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lucky number</title>
    <link rel="stylesheet" href="luck.css">
</head>
<body>
    <header>
        <div class="nav_bar">
            <div class="nav_logo c_f border"></div>
            <div class="nav_premium c_f border"> premium</div>
            <div class="nav_offer c_f border">offer</div>
            <div class="nav_contact c_f border" >contact us</div>
            <div class="anv_butt_logo c_f border"><button id="nav_button">sign in</button></div> 
        </div>
    </header>
    <main>
        <div class="top_box">
            <h1 id="title_1">luckey numbres</h1>
            <p id="para_1">
                Find & Choose from our exclusive collection of VIP mobile numbers. Select your preferred number,
                complete the payment, and our team will handle the porting process...
            </p>
        </div>
        <div class="main_search">
            <div >
                <input placeholder="search number">
                <button id =sch_butt><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
        <div class="num_section">
            <div class="num_box back_color">

            </div>
            <div class="num_box back_color"></div>
            <div class="num_box back_color"></div>
            <div class="num_box back_color"></div>
            <div class="num_box back_color"></div>
            <div class="num_box back_color"></div>
            <div class="num_box back_color"></div>
            <div class="num_box back_color"></div>
            <div class="num_box back_color"></div>
            <div class="num_box back_color"></div>
            <div class="num_box back_color"></div>
        </div>
    </main>
    <script rel="javascript" src="sample.js"></script>

</body>
</html>